<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Tênis Under Armour Basquete Spawn 3</title>
</head>
<body>
    <header>
        <nav>
            <a href="/"><img src="fotos/Design sem nome (3).png" alt=""></a>
        </nav>
        <nav class="div2">
            <div class="formulario">
                <form action="">
                    <input type="text" placeholder="O que você procura?" id="pesquisa">
                    <ion-icon name="search-outline"></ion-icon>
                </form>
            </div>
        </nav>
        <nav>
        <% if (!usuario) { %> 
           <a href="/login"><img src="fotos/login.png" alt="" id="login"></a>
        <% } else { %>
            <h1><a href="/perfil"><ion-icon class="asd" name="person-circle-outline"></ion-icon></a></h1>
         <% } %>
        </nav>
    </header>
    <main class="container">
        <table class="table">
            <% 
            let total = 0
            carrinho.forEach((produto, index) => { 
            
            %>
                <tr>
                    <td><img src="<%= produto.img_produto %>" alt="Slide 1"></td>
                    <td><%= produto.prod_nome %></td>
                    <td><%= produto.prod_preco %></td>
                    <td>
                        <button onclick="aumentar(1, '<%= index %>')">+</button>
                        <span class="Qtd<%= index %>">1</span>
                        <button onclick="aumentar(2, '<%= index %>')">-</button>
                    </td>
                    <td><button type="button" class="btn" onclick="remove_item('<%= produto.prod_id %>')">Remove</button></td>
                </tr></td>

                </tr>
                <%
                    total += parseFloat(produto.prod_qtd) * parseFloat(produto.prod_preco);           
                %>
            <% }); %>
            <tr>
                <td colspan="3" aling="right"><b>Total</b></td>
                <td><%= total %> <span id="total"></span></td>
                <td>&nbsp;</td>
            </tr >                            
        </table>
    </main>
    <script src="script.js"></script>
</body>
</html>