<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <a href="/"><img src="fotos/Design sem nome (3).png" alt=""></a>
        </nav>
        <nav class="div2">
            <h1>Bem Vindo,<%= usuario.usu_nome%></h1>
        </nav>
        <nav>
    </header>
    <section class="product-box"> 
        <ul>
            <form action="/redef" method="post">
            <li><strong>ID:</strong> <%= usuario.usu_id %></li> 
            <li><strong>Nome:</strong> <input type="text" name="nome" placeholder="<%=usuario.usu_nome %>"></li>
            <li><strong>Telefone:</strong> <%= usuario.telefone %></li>
            <li><strong>Email:</strong> <%= usuario.usu_email %></li>
            <li><strong>Permissão:</strong> <%= usuario.usu_permissao %></li>
            <li><strong>Endereço de Cobrança:</strong> <%= usuario.usu_end_cobranca %></li>
            <li><strong>Endereço de Entrega:</strong> <%= usuario.usu_end_entrega %></li>
                <button type="submit" class="">redefinir</button>
            </form>
        </ul>

        <form action="/logout" method="get">
            <button type="submit">Log Out</button>
        </form>
        <form action="/excluir-conta" method="post">
            <button type="submit" >Excluir Conta</button>
        </form>
    </section>
  
</body>
</html>


