<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>
    <h1>perfil deu certo</h1>
    <section class="product-box"> 
        <ul>
            <li><strong>ID:</strong> <%= usuario.usu_id %></li>
            <li><strong>Nome:</strong> <%= usuario.usu_nome %></li>
            <li><strong>senha:</strong> <%= usuario.senha %></li>
            <li><strong>Telefone:</strong> <%= usuario.telefone %></li>
            <li><strong>Email:</strong> <%= usuario.usu_email %></li>
            <li><strong>Permissão:</strong> <%= usuario.usu_permissao %></li>
            <li><strong>Endereço de Cobrança:</strong> <%= usuario.usu_end_cobranca %></li>
            <li><strong>Endereço de Entrega:</strong> <%= usuario.usu_end_entrega %></li>

        </ul>
    </section>
  
</body>
</html>


