<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"> -->
</head>
<body>
    <header>
        <nav>
            <a class="col4" href="/"><img src="fotos/Design sem nome (3).png" alt=""></a>
        </nav>
        <nav class="div2">
            <h1>Bem Vindo,<%= usuario.usu_nome%></h1>
        </nav>
        <nav>
    </header>
    <section class="product-box"> 
        <ul>
            <form action="/redef" method="post">
            <li><strong>Nome:</strong> <input type="text" name="nome" placeholder="<%=usuario.usu_nome %>"></li>
            <li><strong>Telefone:</strong> <%= usuario.telefone %></li>
            <li><strong>Email:</strong> <%= usuario.usu_email %></li>
            <li><strong>Permissão:</strong> <%= usuario.usu_permissao %></li>
            <li><strong>Endereço de Cobrança:</strong> <%= usuario.usu_end_cobranca %></li>
            <li><strong>Endereço de Entrega:</strong> <%= usuario.usu_end_entrega %></li>
                <button type="submit" class="">redefinir</button>
            </form>
        </ul>
        <main>
            <% if (erro) { %>
                <p style="color: red;"><%= erro %></p>
            <% } %>
            <form action="/alterar-senha" method="post">
                <label for="senhaAtual">Senha Atual:</label>
                <input type="password" id="senhaAtual" name="senhaAtual" required>
    
                <label for="novaSenha">Nova Senha:</label>
                <input type="password" id="novaSenha" name="novaSenha" required>
    
                <button type="submit" class="btn btn-success">Alterar Senha</button>
            </form>
        </main>

        <form action="/logout" method="get">
            <button type="submit">Log Out</button>
        </form>
        <form action="/excluir-conta" method="post">
            <button type="submit" class="btn">Excluir Conta</button>
        </form>
    </section>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script> -->
</body>
</html>


